---
---

header {
  width:200px;
  #float:left;
  text-align:center;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

@import "{{ site.theme }}";

h8 {
  color: #000000;
  line-height: 1.1;
  margin: 70px 0px 70px 0px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}